$width: 190px;
$height: 76px;

.now {
  position: absolute;
  left: 64px;
  top: calc((100vh - #{$event-next-height} * 2) / (100 / 45) - #{$height});
  width: $width;
  height: $height;
  z-index: 3;

  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
}