@import "lato";
@import "variables";

@import "mixins/position";

html, body {
  padding: 0;
  margin: 0;
  color: $white;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  overflow: hidden;
  background-color: $black;
}

@import "modules/time";
@import "modules/now";
@import "modules/event";