<div class="event-time">
    <span class="event-time-from">{{presentTime start.dateTime}}</span>
    <span class="event-time-to">{{presentTime end.dateTime}}</span>
</div>
<div class="event-name">{{sentenceCase summary}}</div>
<div class="event-progress"><div></div></div>
<!--
<div class="event event-free event-next">
    <div class="event-time">
        <span class="event-time-from">12:30</span>
        <span class="event-time-to">14:00</span>
    </div>
    <div class="event-name">Salle libre</div>
    <div class="event-progress"></div>
</div>-->
