<div class="event-time">
    <span class="event-time-from">11:30</span>
    <span class="event-time-to">12:30</span>
</div>
<div class="event-name">Marketing (meeting hebdo)</div>
<div class="event-progress"></div>
<!--
<div class="event event-free event-next">
    <div class="event-time">
        <span class="event-time-from">12:30</span>
        <span class="event-time-to">14:00</span>
    </div>
    <div class="event-name">Salle libre</div>
    <div class="event-progress"></div>
</div>-->
